/* Page Definitions */
/* body	{background-color: #f5f8fa;} */

.main-content p.breadcrumb {
	font-size: .5rem;
}
	
/* Table Definitions */	
.main-content table th 
	{border: none !Important;}

.main-content table td 
	{border: none !Important;}

.main-content table th  
	{vertical-align: top;}

.main-content table td  
	{vertical-align: top;}
	
/* Style Definitions */
h1
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	font-size:24pt;
	font-weight:normal;}
h2
	{margin-top:20px;
	margin-right:0in;
	margin-left:0in;
	margin-bottom: 10px;
	font-size:14.0pt;
	font-weight:bold;}
h3
	{margin-top:10px;
	margin-right:0in;
	margin-bottom:10px;
	margin-left:0in;
	font-size:12.5pt;
	font-weight:normal;}
h5
	{padding: 20px 10px 20px 10px;
	font-size:11.0pt;
	color:#ffffff !Important;
	background:#0084b4;
	border: 1px solid #0084b4;
	border-radius: 5px;
	font-weight:bold;
	text-align: center;}
h6
	{padding: 10px 0 10px 0;
	font-size:11.0pt;
	background:#0084b4;
	border: 1px solid #0084b4;
	border-radius: 5px;
	color:#ffffff;
	font-weight:bold;
	text-align: center;}

p.MsoPlainText, li.MsoPlainText, div.MsoPlainText
	{padding: 10px;
	margin-top:0in;
	margin-right:0px;
	margin-bottom:0in;
	margin-left:0px;
	background:#f5f8fa;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	font-size:10pt;
	color:#0084b4;}

 /* Divs */	
	div.WordSection1
	{page:WordSection1; 
	margin-top: 10px; 
	margin-left: auto; 
	margin-right: auto; 
	width: 625px; 
	background-color: #ffffff; 
	border: 1px solid #e3e3e3; 
	border-radius: 5px; 
	padding: 30px 40px 20px 40px;}
div.WordSection2
	{page:WordSection2; 
	margin-top: 10px; 
	margin-left: auto; 
	margin-right: auto; 
	width: 625px; 
	background-color: #0084b4;
	border-radius: 5px; 
	padding: 30px 40px 20px 40px;}
div.WordSection2 h1
	{color: #FFFFFF!Important;}
div.WordSection2 h2
	{color: #FFFFFF!Important;}
div.WordSection2 h3
	{color: #FFFFFF!Important;}
div.WordSection2 p
	{color: #FFFFFF!Important;}
div.WordSection2 a:link, span.MsoHyperlink
	{color:#ffffff;
	text-decoration:none;}
div.WordSection2 a:hover, span.MsoHyperlink
	{color:#ffffff;
	text-decoration:underline;}
div.WordSection2 a:visited, span.MsoHyperlinkFollowed
	{color:#ffffff;
	text-decoration:none;}




