/* Page Definitions */
/* body	{background-color: #f5f8fa;} */

body {
	font-family: 'Source Sans Pro', sans-serif !Important;
	font-weight: 300;
	color: #222;
}

a {
	color: rgba(32,117,161,1);
}

/* sidebar */

.sidebar {
	display: block; 
	position: relative; 
	float: right; padding: 10px; 
	width: 300px; 
	background-color: rgba(0,0,0,0.2); 
	margin: 50px 0 0 10px; 
	z-index: 10;
}

/* colors in page header */
.page-header {
  color: #fff;
  text-align: center;
  background-color: rgba(217,217,217,1);
  background-image: linear-gradient(120deg, rgba(32,117,161,1), rgba(37,139,193,.5)); }

  
/* breadcrumb */  
.main-content p.breadcrumb {
	font-size: 0.8em;
	letter-spacing: 1px;
	font-weight: 400;
}
	
/* Custom Buttons */

.btn-color {
  display: inline-block;
  padding: 15px 25px 15px 25px;
  font-size: 1.1em;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(32,117,161,1);
  border-color: rgba(32,117,161,1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn-color:hover {
  color: rgba(0, 132, 180, 1);
  text-decoration: none;
  background-color: rgba(21, 87, 153, 0.2);
  border-color: rgba(32,117,161,1); }


/* Toggle Buttons */

.toggle-box {
   display: none;
 }

 .toggle-box + label {
   cursor: pointer;
   display: block;
   color: rgba(32,117,161,1);
   font-weight: bold;
   line-height: 1.0em;
   margin-bottom: 10px;
 }

 .toggle-box + label + div {
   display: none;
   color: rgba(32,117,161,1);
   margin-bottom: 20px;
 }

 .toggle-box:checked + label + div {
   display: block;
 }

 .toggle-box + label:before {
   background-color: rgba(32,117,161,1);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   content: "+";
   display: block;
   float: left;
   font-weight: 300;
   height: 16px;
   line-height: 1.0em;
   margin-right: 5px;
   text-align: center;
   width: 16px;
 }

 .toggle-box:checked + label:before {
   content: "\2212";
 } 



/* Table Definitions */	

.main-content table {
	display: table;
}

.main-content table th {
	vertical-align: top;
	padding: 0 0 0 0;
	background-color: #e9ebec;
	border: 2px solid #ffffff !Important;
}

.main-content table td {
	border: none !Important;
	text-align: left;
    vertical-align: top;
	padding: 0 0 20px 0;
}
	
/* Style Definitions */

.project-name {
	letter-spacing: 2px;
	font-size: 3.6em;
	font-weight: 300;
}

.main-content h1 {
	color: #222;
	font-weight: 400;
}

.main-content h2 {
	color: rgba(32,117,161,1);
	font-weight: 400;
}

.main-content h3 {
	color: #222;
	font-weight: 400;
}
	
.main-content h4 {
	font-weight: 400;
	font-size: 1.4em;
	color: rgba(32,117,161,1);
}

.main-content h5 {
	margin-bottom: -30px;
	color: #222;
	font-weight: 400;
}

p.guideline
	{padding: 10px;
	margin: 0 0 0 0;
	background:#f5f8fa;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	font-size: 1.0em;
	color:#0084b4;}




