/* Page Definitions */
/* body	{background-color: #f5f8fa;} */

.main-content p.breadcrumb {
	font-size: 0.7em;
}
	
/* Custom Buttons */

.btn-color {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(21, 87, 153, 1);
  border-color: rgba(21, 87, 153, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn-color:hover {
  color: rgba(0, 132, 180, 1);
  text-decoration: none;
  background-color: rgba(21, 87, 153, 0.2);
  border-color: rgba(21, 87, 153, 1); }

/* Toggle Buttons */

.toggle-box {
   display: none;
 }

 .toggle-box + label {
   cursor: pointer;
   display: block;
   color: rgba(21, 87, 153, 1);
   font-weight: bold;
   line-height: 1.0em;
   margin-bottom: 5px;
 }

 .toggle-box + label + div {
   display: none;
   color: rgba(21, 87, 153, 1);
   margin-bottom: 10px;
 }

 .toggle-box:checked + label + div {
   display: block;
 }

 .toggle-box + label:before {
   background-color: rgba(21, 87, 153, 1);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   content: "+";
   display: block;
   float: left;
   font-weight: bold;
   height: 16px;
   line-height: 1.0em;
   margin-right: 5px;
   text-align: center;
   width: 16px;
 }

 .toggle-box:checked + label:before {
   content: "\2212";
 } 



/* Table Definitions */	
.main-content table th {
	border: none !Important;
	vertical-align: top;
	padding: 0 10px 20px 0;
}

.main-content table td {
	border: none !Important;
    	vertical-align: top;
	padding: 0 10px 20px 0;
}
	
/* Style Definitions */

.main-content h1, .main-content h3 {
	color: rgb(21, 87, 153);
}

h5
	{padding: 20px 10px 20px 10px;
	margin: 0 0 0 0;
	font-size: 1.2em;
	color:#ffffff !Important;
	background:#0084b4;
	border: 1px solid #0084b4;
	border-radius: 5px;
	font-weight:bold;
	text-align: center;}
h6
	{padding: 10px 0 10px 0;
	font-size:11.0pt;
	background:#0084b4;
	border: 1px solid #0084b4;
	border-radius: 5px;
	color:#ffffff;
	font-weight:bold;
	text-align: center;}

p.guideline
	{padding: 10px;
	margin: 0 0 0 0;
	background:#f5f8fa;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	font-size: 1.0em;
	color:#0084b4;}

 /* Divs */	
	div.WordSection1
	{page:WordSection1; 
	margin-top: 10px; 
	margin-left: auto; 
	margin-right: auto; 
	width: 625px; 
	background-color: #ffffff; 
	border: 1px solid #e3e3e3; 
	border-radius: 5px; 
	padding: 30px 40px 20px 40px;}
div.WordSection2
	{page:WordSection2; 
	margin-top: 10px; 
	margin-left: auto; 
	margin-right: auto; 
	width: 625px; 
	background-color: #0084b4;
	border-radius: 5px; 
	padding: 30px 40px 20px 40px;}
div.WordSection2 h1
	{color: #FFFFFF!Important;}
div.WordSection2 h2
	{color: #FFFFFF!Important;}
div.WordSection2 h3
	{color: #FFFFFF!Important;}
div.WordSection2 p
	{color: #FFFFFF!Important;}
div.WordSection2 a:link, span.MsoHyperlink
	{color:#ffffff;
	text-decoration:none;}
div.WordSection2 a:hover, span.MsoHyperlink
	{color:#ffffff;
	text-decoration:underline;}
div.WordSection2 a:visited, span.MsoHyperlinkFollowed
	{color:#ffffff;
	text-decoration:none;}




